.App-header {
  background-image: url("../check-class-desk-7103.jpg");
  background-size: cover;
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


.body {
  flex: 1;
  height: 100%;
}


/* Log*/
 .text-log {
   color: white;
 }
