.header{
    display: flex;
    height: 80px;
    width:100wh; ;
    background-color: #e11a29;
}
 .header img {
     margin-top: 3px;
     margin-left: 3px;

 }
 .footer{
     background-color: #e11a29;
     display: flex;
     flex-direction: column;
     align-items: center;
     color: #fff;
 }
 
 .art{
     flex: 1;
     display: flex;
     flex-direction: row;
     height: 100vh;
 }
 .slider{
     width: 100vw;
 }
 .slidetext {
     color: #fff;
     text-shadow: 2px 2px 4px #000000;
 }
.img-slider{
   height: 80vh;
   width:100vw;
   background-image: url('../components/img/slider1.png');
   background-size: cover;
   overflow: hidden;
}
.img-slider2{
   height: 80vh;
   width:100vw;
   background-image: url('../components/img/slider2.png');
   background-size: cover;
   overflow: hidden;
}
.img-slider3{
    height: 80vh;
   width:100vw;
   background-image: url('../components/img/slider3.png');
   background-size: cover;
   overflow: hidden;
}
.slick-next:before, .slick-prev:before {
    color:darkorange;
}
a:-webkit-any-link {
    text-decoration: none;
}

 